<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class="footer_area padding_top" id="contactus">

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/../static/leopet/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/../static/leopet/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/../static/leopet/js/bootstrap.min.js"></script>
    <!-- counterup js -->
    <script src="/../static/leopet/js/jquery.counterup.min.js"></script>
    <!-- waypoints js -->
    <script src="/../static/leopet/js/waypoints.min.js"></script>
    <!-- easing js -->
    <script src="/../static/leopet/js/jquery.magnific-popup.js"></script>
    <!-- particles js -->
    <script src="/../static/leopet/js/owl.carousel.min.js"></script>
    <!-- custom js -->
    <script src="/../static/leopet/js/custom.js"></script>
    <!-- circle progress bar js -->
    <script src="/../static/js/plugin.js"></script>
</footer>
</html>